---
import Base from '../layouts/Base.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import RiveBand from '../components/RiveBand.astro';
import Work from '../components/Work.astro';
import Toolbox from '../components/Toolbox.astro';
import Pipeline from '../components/Pipeline.astro';
import About from '../components/About.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---
<Base>
  <Header />
  <main>
    <Hero />
    <RiveBand />
    <Work />
    <Toolbox />
    <Pipeline />
    <About />
    <Contact />
  </main>
  <Footer />
</Base>
